<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/forms.css">
<script type="text/javascript" src="/scripts/countries.js"></script>
<script type="text/javascript" src="/scripts/locationFormScripts.js"></script>

<div class="container">
    <div class="row">
        
        <!-- If -->
        
        <h1 style="text-align: center;">Edit: 
            <% if (location.status === "seeking"){ %>
                "seeking" status
            <% } else if (location.status === "hostFriendlies"){ %>
                "hosting" status
            <% } else if (location.status === "hostTourny"){ %>
                <%= location.tournyTitle %>
            <% } %>
        </h1>
        <!-- End if -->
        
        <div style="width: 50%; margin: 25px auto;">
            <form action="/locations/<%= location._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Status:</label>
                    <ul>
                        <li>
                            <input type="radio" id="seeking" class="requirement" name="location[status]" value="seeking" <% if (location.status === "seeking"){ %> checked <% } %> />
                            <label for="seeking"> Seeking Friendlies</label>
                                <fieldset class="conditional">
                                    <div class="form-group smallText">
                                        Friendlies location is automatically attatched to provided your user information when signing up.
                                    </div> 
                                </fieldset>
                        </li>   
                        <li>
                            <input type="radio" id="hostFriendlies" class="requirement" name="location[status]" value="hostFriendlies" <% if (location.status === "hostFriendlies"){ %> checked <% } %> >
                            <label for="hostFriendlies"> Hosting Friendlies</label>
                                <fieldset class="conditional">
                                    <div class="form-group smallText">
                                        Friendlies location is automatically attatched to provided your user information when signing up.
                                    </div> 
                                </fieldset>
                        </li>
                        <li>
                            <input type="radio" id="hostTourny" class="requirement" name="location[status]" value="hostTourny" <% if (location.status === "hostTourny"){ %> checked <% } %> >
                            <label for="hostTourny"> Hosting Tournament</label>
                                <fieldset class="conditional"> 
                                    <div class="form-group">
                                        <ul>
                                            <div class="form-group">
                                                <li><input class="form-control" id="tournyTitle" type="text" name="location[tournyTitle]" placeholder="Title of Tournament*" <% if (location.status === "hostTourny"){ %> value="<%= location.tournyTitle %>" <% } %> maxlength="32"></li>
                                            </div>
                                           <div class="form-group">
                                                <select class="form-control" id="country" name="location[country]" required>
                                                    <option <% if (location.status === "hostTourny"){ %> value="<%= location.country %>" <% } %> hidden selected><% if (location.status === "hostTourny"){ %><%= location.country %><% } %></option>
                                                </select>
                                                <select class="form-control" id="state" name="location[state]" required>
                                                    <option id="firstStateOption" <% if (location.status === "hostTourny"){ %> value="<%= location.state %>" <% } %> hidden selected><% if (location.status === "hostTourny"){ %><%= location.state %><% } %></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="city" type="text" name="location[city]" placeholder="City*" <% if (location.status === "hostTourny"){ %> value="<%= location.city %>" <% } %> maxlength="16" required>
                                                <input class="form-control" id="address" type="text" name="location[address]" placeholder="Street Address*" <% if (location.status === "hostTourny"){ %> value="<%= location.address %>" <% } %> required>
                                            </div>
                                            <div class="form-group">
                                                <li><input class="form-control" id="start" name="location[start]" type="date" min="2017-01-01" max="2021-12-31" <% if (location.status === "hostTourny"){ %> value="<%= location.start %>" <% } %>></li>
                                            </div>

                                            <div class="form-group">
                                                <label>Tournament Prestige</label> <!-- "Local Tournament", "Regional Tournament", "Major", "Super Major" -->
                                                <li><input type="radio" id="local" name="location[prestige]" value="Local Tournament" <% if (location.status === "hostTourny" && location.prestige === "Local Tournament"){ %> checked <% } %> ><label for="local"> Local</label></li>
                                                <li><input type="radio" id="regional" name="location[prestige]" value="Regional Tournament" <% if (location.status === "hostTourny" && location.prestige === "Regional Tournament"){ %> checked <% } %> ><label for="regional"> Regional</label></li>
                                                <li><input type="radio" id="major" name="location[prestige]" value="Major" <% if (location.status === "hostTourny" && location.prestige === "Major"){ %> checked <% } %> ><label for="major"> Major</label></li>
                                                <li><input type="radio" id="supermajor" name="location[prestige]" value="Super Major" <% if (location.status === "hostTourny" && location.prestige === "Super Major"){ %> checked <% } %> ><label for="supermajor"> Super Major</label></li>
                                           </div>
                                        </ul>
                                    </div>
                                </fieldset>
                        </li>                                             
                    </ul>                    
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="information" name="location[information]" cols="40" rows="5" placeholder="Provide all relevant information: e.g. contact info, schedule, fees, payout, ruleset, links... etc*" maxlength="2048" required><%- location.information %></textarea>
                </div>
                <p>
                    Comments attatched to this will remain unless the entire post gets deleted. <br>
                    <%  var firstDay = new Date();     
                        var nextWeek = new Date(firstDay.getTime() + 7 * 24 * 60 * 60 * 1000); 
                        var dateToPrint = nextWeek+"" %>
                    Pinpoint will be <strong>renewed until: <%= dateToPrint.substring(0,15) %> </strong>(7 days from now)<br>
                </p>  
                <div class="veryVisibleDiv">
                    <input id="termsOfService" type="checkbox" name="termsOfService" value="true"><label for="termsOfService">Do you agree to the <a href="/termsOfService">Terms</a> of Service?</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Edit / Renew</button>
                </div>
            </form>
            <a href="/locations" class="btn btn-link">Go Back</a>
            <form id="delete-form" action="/locations/<%= location._id %>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger pull-right">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button>
            </form>            
        </div>
    </div>
</div>

<script>
    function seekingRadio(){
		$('#tournyTitle').prop('required', false);
		$('#country').prop('required', false);
		$('#state').prop('required', false);
		$('#city').prop('required', false);
		$('#address').prop('required', false);
		$('#start').prop('required', false);
    }
    function hostFriendliesRadio(){
		$('#tournyTitle').prop('required', false);
		$('#country').prop('required', false);
		$('#state').prop('required', false);
		$('#city').prop('required', false);
		$('#address').prop('required', false);
		$('#start').prop('required', false);
    }
    function hostTournyRadio(){
		$('#tournyTitle').prop('required', true);
		$('#country').prop('required', true);
		$('#state').prop('required', true);
		$('#city').prop('required', true);
		$('#address').prop('required', true);
		$('#start').prop('required', true);
    }
    
    $(document).ready(function(){
        
        if($('#seeking').is(':checked')) { 
			seekingRadio();       
        } else if($('#hostFriendlies').is(':checked')) { 
			hostFriendliesRadio();      
        } else if($('#hostTourny').is(':checked')){
 			hostTournyRadio();         
        }
        setMinMaxDate();
    });
    
    //Change required state for forms depending on radiobutton 
     $('#seeking').change(function() {
		if(this.checked) {
			seekingRadio(); 
		}
	});
    $('#hostFriendlies').change(function() {
		if(this.checked) {
			hostFriendliesRadio();    
		}
	});
    $('#hostTourny').change(function() {
		if(this.checked) {
			hostTournyRadio();  
		}
	});      
	
	$('#country').on('change', function() { //reset state value when change country
	    $("#firstStateOption").text("Select State / Province");        
	    $("#firstStateOption").attr('value', null);
	    $("#firstStateOption").attr('disabled','disabled');
	});
</script>

<% include ../partials/footer %>
